body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #f8f8ff;
  width: 100%;
  color: #000000;
}

p {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

.app-title {
  font-size: 5.5rem;
}

#logo {
  width: 300px;
  height: 300px;
}

.app-description {
  font-size: 1.2rem;
  /* padding: 16px 0; */
  width: 60%;
}

.main-container {
  margin: 0 auto;
  background: #f8f8ff;
}

.issues {
  background-color: #E5E5FF;
  color: #1D127C;
  padding: 15px 0px;
  margin-bottom: 10px;
  /* font-size: 0.9rem; */
}

span {
  font-weight: 700;
}

.issues a {
  color: #1D127C;
  font-weight: 600;
}

.person a {
  color: rgb(90, 149, 204);
}

.banner {
  align-self: center;
  width: 60%;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.main {
  color: #000000;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  align-items: center;
  height: 100vh;
  background-color: #E5E5FF;
  justify-content: center;
}

.overview {
  color: #df0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.overview-p {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60%;
  min-width: 200px;
  align-self: center;
  color: #000000;
}

.overview-t {
  color: #222222;
}

.download-div {
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 20px;
  padding: 20px 5px;
  align-self: center;
  width: 370px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.116), 0 3px 3px rgba(0, 0, 0, 0.13);
  background-color: white;
}

#github-stars {
  padding: 20px;
  font-size: 1.4rem;
}

.star-us {
  color: #000000;
  font-weight: 700;
  margin: 15px;
}

.demo {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: #f8f8ff;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-evenly;
}

.demo-img {
  width: 50%;
  min-width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#demo1 {
  flex-direction: row;
}

#demo2 {
  flex-direction: row-reverse;
}

#demo2 img {
  height: 700px;
  width: 700px;
}

.demo-text {
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  min-width: 60px;
  width: 40%;
  font-size: 1.3rem;
  color: #222222;
}

.demo-text p {
  color: #000000;
}

.dev-team {
  margin: 20px 0px;
}

.dev-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.headshot {
  width: 50%;
  /* border-radius: 50%; */
}

.version {
  margin: 30px;
}

.oslabs {
  margin-top: 20px;
  padding: 40px;
  /* margin-top: 45px; */
  background-color: ghostwhite;
  color: white;
}

.oslabs a {
  color: #222222;
  font-weight: 800;
  text-decoration: none;
}

.about h3 {
  margin: 20px;
  color: #222222;
  font-weight: 700
}

#learn-more {
  background-color: #c9b6e4;
  border: 1px solid #1D127C;
  border-radius: 4px;
  margin-top: 150px;
  padding: 5px;
  height: 40px;
  width: 120px;
  
}

#learn-more a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #1D127C;
}

/* ------------------------MOBILE ---------------------------------*/
@media screen and (max-width: 600px) {
  .banner {
    align-self: center;
    width: 80%;
  }

  .main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E5E5FF;
    justify-content: center;
  }

  .app-description {
    font-size: 0.9rem;
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .overview {
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    background-color: #f8f8ff;
  }

  .overview-p {
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    min-width: 200px;
    align-self: center;
    font-size: .9rem;
  }

  .download {
    width: 62%;
    color: rgb(49, 92, 116);
    border-color: rgb(49, 92, 116);
    margin: 5px 0px;
  }

  .download-div {
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin: 20px;
    padding: 20px 5px;
    align-self: center;
    width: 75%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.116), 0 3px 3px rgba(0, 0, 0, 0.13);
    background-color: white;
    display: flex;
    flex-direction: column;

  }

  #github-stars {
    padding: 20px;
    font-size: 0.9rem;
  }

  .star-us {
    color: #df0000;
    margin: 10px;
  }

  .demo {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: #f8f8ff;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-evenly;
  }

  .demo-img {
    width: 90%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #demo1 {
    flex-direction: column;
  }

  #demo2 {
    flex-direction: column;
  }

  .demo-text {
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    min-width: 60px;
    width: 100%;
    font-size: 0.9rem;
    margin: 5% 0%;
  }

  .dev-team {
    flex-direction: row;
    flex-wrap: wrap
  }

  .dev-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .headshot {
    width: 50%;
    border-radius: 50%;
  }

  .person {
    margin: 10px 0px;
  }


